{% extends 'layout/admin.html.twig' %}
{% block title %}Languages{% endblock %}
{% block body %}
    <h3 class="page-header">Languages</h3>
    <div class="form-group">
        <a href="{{ path('admin.language.create') }}" class="btn btn-default">Create New Language</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr>
                <td>{{ language.code }}</td>
                <td>{{ language.name }} {%  if language.isDefault %}<em><strong>(default)</strong></em>{%  endif %}</td>
                <td>
                    <a href="{{ path('admin.language.edit', {'id': language.id}) }}" class="btn btn-primary">Edit</a>
                    {% if not language.isDefault %}
                    <a href="{{ path('admin.language.delete', {id: language.id}) }}" data-token="{{ csrf_token('form') }}" class="btn btn-danger btn-delete-confirm">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}